@import "tailwindcss";

@font-face {
  font-family: "Merriweather Black";
  src: url("/fonts/Merriweather-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather Light";
  src: url("/fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather Light Italic";
  src: url("/fonts/Merriweather-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather Regular";
  src: url("/fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MJ Gastie";
  src: url("/fonts/MJ-Gastie-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F0E4;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.name {
  font-family: "MJ Gastie", sans-serif;
  font-size: 24px;
}

.rvspTitle {
  font-family: "Merriweather Black", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.rvspName{
  font-family: "Merriweather Regular", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.va {
  font-family: "Merriweather Light Italic", serif;
  font-weight: 300;
  font-style: italic;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  text-align: center;
  flex-direction: column;
}

.heroBg {
  background-image: url("/images/homepage/Frame 34.png");
  background-size: cover;
  /* Ensures the image covers the entire area */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.submitBtnColor {
  background-color: #70B881;
  ;
}